@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>DESENVOLVIMENTO DE ARQUITETURA MULTI-TENANT PARA INTERNET DAS COISAS</h3>

<p>Trabalho de Graduação apresentado ao curso de Engenharia de Computação da Universidade Federal de Santa Maria (UFSM, RS) como requisito parcial para obtenção do grau de Engenheiro de Computação</p>
<p>Desenvolvido por Henrique Machado Gasparotto</p>
<p>Orientador: Prof. Dr. Carlos Henrique Barriquello</p>
