<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tccapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tccapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tccapplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tccapplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TenantDatabase" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.Tenants.Context.TenantDbContext, Data.Tenants" MigrationConfiguration="Data.Tenants.Migrations.Configuration, Data.Tenants" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Data.IoT.Context.IoTDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.IoT.Context.IoTDataContext, Data.IoT" MigrationConfiguration="Data.IoT.Migrations.Configuration, Data.IoT" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IoTDatabase" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hmgasparotto2.database.windows.net;Initial Catalog=IoTDb;Persist Security Info=False;User ID=hmgasparotto;Password=H_2701mg;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IoTDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:hmgasparotto2.database.windows.net,1433;Data Source=hmgasparotto2.database.windows.net;Initial Catalog=IoTDb;Persist Security Info=False;User ID=hmgasparotto;Password=H_2701mg;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Data.IoT.Context.IoTDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IoTDatabase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TenantDatabase-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Data.IoT.Context.IoTDataContext" />
  </ItemGroup>
</Project>